*
{
font-family:'Nunito Sans', sans-serif;
margin: 3px;
padding: 0px;
box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    border-style: solid;
    background-position: 30px;
}
h1
{
    text-align: center;
    text-decoration: underline;
}
div{
    text-align: right;
    padding: 1  px;
}
select{
    background-color: #fe8ced;
}
.right {
    position: absolute;
  right: 15px;
  width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    border-top-left-radius: 15px;
  }
#adr {
    text-align: center;
    width: 80%;
  }
  input[type=text]{
    background-color: #39fdb5;
  color: rgb(196, 36, 36);
  }
  input[type=number]{
    background-color: rgb(78, 201, 245);
    color:white
  }
  input[type=tel]{
    background-color:bisque
  }
  input[type=email]{
    background-color: burlywood;
    color: white;
  }
  input[type=date]{
    background-color: darkgray;
    color:yellow;
  }
  a{
    text-decoration:underline
  }
  #submit,#reset{
    background-color: #a3e6ef;
    color:red;font-size: 18px;width: 100px;
    left: 150px;
    position: relative;
  }
  #img{
    width: 150px;
  }